@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

:root{
    --figura: #f2f2f2; /* texto claro */
    --fondo: linear-gradient(#1a1a1a, #111); /* fondo oscuro */
    --accent: #ff66b2; /* rosado principal */
    --accent-light: #ff99cc; /* rosado claro */
    --fuente: "DM Sans", sans-serif;    
}

* {
    margin: 0;
    padding: 0;
    transition: color ease 0.5s, background 0.5s;
}

html,
body {
    min-height: 100%;
}

body {
    color: var(--figura);
    background: var(--fondo);
    font-family: var(--fuente);
    font-size: 100%;
    font-weight: 400;
}

a {
    color: var(--accent-light); 
    text-decoration: none;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-weight: 500;
    color: var(--accent);
}

div.container {
    padding: 5vh 5vw;
}

header {
    position: relative;
    padding-bottom: 2rem;
}

header h1 {
    padding-left: 1rem;
    padding-top: calc(1rem - 2.4vw);
    line-height: 1;
    font-size: calc(1.2rem + 1vw);
    color: var(--accent);
}

#opciones {
    top: 0.3rem;
    right: 0.75rem;
    position: absolute;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    border:none;
    border-radius: 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background:#222;
    color: var(--figura);
}

#opciones:hover {
    background:#333;
    transition: background .5s ease;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section article {
    width: 23%;
    margin: 1%;
    background: #222;
    box-shadow: 0 0 10px rgba(255,102,178,0.3);
    border-radius: 5px;
}

@media (max-width: 767.98px) {
    section article {
        width: 46%;
        margin: 2%;
    }
}

section article img {
    width: 100%;
    height: auto;
